<head>
  <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet" type="text/css">
</head>

<div id="container">
  <h1>{{title}}</h1>
    <form [formGroup]="addTodoForm" (ngSubmit)="onCreate(addTodoForm)">
      <div class="formGroup">
        <input type="text" formControlName="todo" placeholder="Add todo here">
        <div [hidden]="!addTodoForm.controls.todo.hasError('limitError')"> too long todo </div>
        <input type="submit">
      </div>
    </form>
    <div class="list">
      <ul>
        <li *ngFor="let oTodo of aListOfTodos">
          <span><i class="fa fa-trash" (click)="onDelete(oTodo)"></i></span>
          <span><i class="fa fa-pencil" (click)="onUpdate(oTodo, testupdate.value)"></i></span>
          {{oTodo.todoCML}}
        </li>
        <input #testupdate type="text" placeholder="Update todo here">
      </ul>
    </div>
</div>