<head>
  <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet" type="text/css">
</head>

<div id="container">
  <h1>{{title}}</h1>
    <form [formGroup]="addTodoForm" (ngSubmit)="submitTodoForm(addTodoForm)">
      <div class="formGroup">
        <input type="text" formControlName="todo" placeholder="Add todo here">
        <div [hidden]="!addTodoForm.controls.todo.hasError('limitError')"> too long todo </div>
        <input type="submit">
      </div>
    </form>
    <div class="list">  
      <ul *ngFor="let todo of aListOfTodos">    
        <li><span><i class="fa fa-trash" ng-click=""></i></span>{{todo.name}}</li>
      </ul>
    </div>
</div>