* {
  font-family: 'Patrick Hand', cursive;
  color: #333333; // This color is supposedly easier on the eyes and easier to read
  margin: 0;
}

#notebook-paper {
  width:500px;
  height:622px;
  background: linear-gradient(to bottom, #F8ECC2 29px,#00b0d7 1px);
  margin: 80px auto;
  background-size: 100% 30px;
  position:relative;
  padding-top:0;
  padding-left:70px;
  padding-right:5px;
  overflow:hidden;
  border-radius:5px;
  -webkit-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -moz-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -ms-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  -o-box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
  box-shadow:5px 5px 5px rgba(0,0,0,.4),0px 0px 7px rgba(0,0,0,.3);
  &:before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    top:0;
    left:60px;
    height:100%;
    width:.8px;
    background:#db4034;
  }

  h3 {
    margin: 5px 0 0 0; 
    height: 62px; // Makes sure that the first todo is center in between lines.
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 2.5px; // Spacing between each todo item
      transition: .3s;
    }

    li:hover {
      opacity: .9;
    }    
  }

  p {
    font-size: 20px;
    user-select: none;    
  }
}

#todo-content{
    display: inline-block;
}

#todoInput, #addButton, .listIcons {
    // Everyone here gets pushed a bit up to be centered on the line instead of resting on the bottom 
    position: relative; 
    top: -4px
}



input {
    background: transparent;
    border: none;
    font-size: 20px;
    width: 90%;
    margin: 0;
    padding: 0;
}

button {
  width: 9%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: .5s;
  color: rgba(0,0,0,0);
}

button:hover {
    font-size: 1.2em;
}

// Show add button only on hover li
li:hover #addButton {
  color: rgba(0,0,0,1);
}

// ================================ ICON STUFF HERE ========================
.listIcons {
  float: right;
  margin: 0 5px;
  opacity: 0;
  transition: 0.4s linear;
  font-size: 1.3em; 
  cursor: pointer;
}

li:hover .listIcons, #addButton {
  opacity: 1;
}

.completed {
  text-decoration: line-through;
}

.checkIcon {
  float: left;
}



// ================================== Animation ==============================
.fa-trash:hover {
  animation: shake 0.92s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;  
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}



// =================== Logo ==================

#sticky-logo{
  height: 150px;
  width: 150px;
}







// $main-Color1: #0C555E;// old #006064;
// $main-Color2: #FF6761;// old #006064;
// $text-Color1: white; // old #FFAB00;
// $text-Color2: white; // old #FFAB00;
// $text-Field-Color: #f7f7f7;

// .container {
//   color: $text-Color1;
//   margin: 100px auto;
//   width: 700px;
//   box-shadow: 0 0 3x rgba(0, 0, 0, 0.1);
// }

// ul {
//   list-style: none;
//   margin: 7px;
//   padding: 0;

//   // Not a lot of flex because we did not find much use for it
//   display: flex;
//   flex-direction: column-reverse;
  
// }

// h1 {
//   background: $main-Color1;
//   color: white;
//   margin: 0;
//   padding: 10px 20px;
//   text-transform: uppercase;
//   font-size: 24px;
//   font-weight: normal;

//   button { //Edit button
//     float: right;
//     color: white;
//     background-color: #ffa500;
//     border: none;
//     outline: none;
//     border-radius: 5px;
//   }
// }

// .formGroup{
//   background: $main-Color1;
//   padding: 3px;

//   input{
//     outline: none;
//     text-transform: uppercase;
//   }
// }

// input{
//   color: $main-Color1;
//   background-color: $text-Field-Color;
//   width: 100%;
//   padding: 5px 13px;
//   box-sizing: border-box;
//   border: none;  
// }



// #todoInput {
//   padding: 3px 13px 3px 20px;
//   font-size: 25px;
//   margin: 0;
// }

// #todoInput:focus {
//   background: $text-Field-Color;
//   outline: none;
// }

// #editTodo{
//   height: 100%;
//   width: 90%;
//   margin: 4px;
// }

// li {
//   padding: 5px;
//   background: $main-Color1;
//   text-align: left;
//   min-height: 25px;
//      font-size: 20px;

// }

// li:nth-child(2n) {
//   color: $text-Color2;
//   background: $main-Color2;
// }

// p{
//   padding: 5px 0px 5px 10px;
//   margin: 0;
// }

// hr{
//   margin: 5px 0;
//   width: 100%;
//   border: 0;
//   height: 1px;
//   background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));

// }

// // ================================== Icons ====================================

// span {
//   color: white;
//   opacity: 0;
//   border-radius: 6px;
//   height: 0px;
//   width: 40px;
//   border: none;
//   margin-right: 0px;
//   transition: 0.2s linear;
//   cursor: pointer;
// }

// .span-trash{
//   background:rgba(177, 32, 32, 1);
//   float: right;
//   text-align: center;
//   margin: 0px 7px;
// }

// .checkIcon {
//   float: right;
//   margin: 6px 7px;
//   padding: 1px 0px;
//   text-align: center;
//   background: green;
// }

// .completed {
//   color: red;
//   text-decoration: line-through;
// }

// li:hover span {
//   height: 30px;
//   opacity: 1.0;
// }


// // =============================== Adapt to screen size =======================================

// @media screen and (max-width: 480px) {
//        h1{
//          color: orange;
//        } 
//        h1{
//         -ms-transform: rotate(25deg);
//         -webkit-transform: rotate(25deg);
//         transform: rotate(25deg);
//        }
// }

// // ========================== ANIMATIONS ===============================

// i:hover:not(.fa-check-square) {
//   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
//   transform: translate3d(0, 0, 0);
//   backface-visibility: hidden;
//   perspective: 1000px;  
// }

// @keyframes shake {
//   10%, 90% {
//     transform: translate3d(-1px, 0, 0);
//   }
  
//   20%, 80% {
//     transform: translate3d(2px, 0, 0);
//   }

//   30%, 50%, 70% {
//     transform: translate3d(-4px, 0, 0);
//   }

//   40%, 60% {
//     transform: translate3d(4px, 0, 0);
//   }
// }