/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  background: url("http://i.imgur.com/mdjRMkB.jpg");
  background-size: cover;
  background-attachment: fixed;
}
